<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<main class="accomplishment accomplishment-main uamx_certificate">

    <div class="wrapper-accomplishment-rendering">
        <div class="accomplishment-rendering">

            <div class="accomplishment-type">
                <span class="accomplishment-type-symbol">
                    <img class="src" src="/static/uamx-theme/images/logo_uam_squared.jpg" alt="UAM logo">
                </span>
            </div>

            <div class="wrapper-statement-and-signatories">
                <div class="accomplishment-statement">
                    <p class="accomplishment-statement-lead">
                        <span class="accomplishment-summary copy copy-lead">El Director del Curso otorga a</span>
                        <strong class="accomplishment-recipient hd-1 emphasized">Doña/D ${accomplishment_copy_name}</strong>
                        <span class="accomplishment-summary copy copy-lead">El presente</span>
                        <strong class="accomplishment-recipient hd-1 emphasized">CERTIFICADO</strong>
                        <span class="accomplishment-summary copy copy-lead">Por su asistencia al curso:</span>

                        <strong class="accomplishment-recipient hd-1 emphasized">${accomplishment_copy_course_name}</strong>
                        <!-- para mostrar las horas cursadas necesitamos habilitar el servicio de discovery, que actualmente falla: https://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/latest/configuration/enable_certificates.html#display-hours-of-effort-on-course-certificates  -->
                        <span class="accomplishment-summary copy copy-lead">organizado por ${organization_short_name}, emitido el ${certificate_date_issued}</span>
                    </p>
                </div>

                % if mode != 'base':
                <div class="accomplishment-signatories">
                    <h3 class="accomplishment-signatories-title sr-only">${_("Noted by")}</h3>

                    <div class="wrapper-signatories">
                        <div class="list-signatories">
                            % if certificate_data:
                                % for signatory in filter(lambda x: len(x['name']) > 0, certificate_data.get('signatories', [])):
                                <div class="signatory uamx_signatorylength-${len(certificate_data['signatories'])}">
                                    <img class="signatory-signature" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}">

                                    <h4 class="signatory-name hd-5">${signatory['name']}</h4>
                                    <p class="signatory-credentials copy copy-micro">
                                        <span class="role">${signatory['title']}</span>
                                        <span class="organization">${signatory['organization']}</span>
                                    </p>
                                </div>
                                % endfor
                            % endif
                        </div>
                    </div>
                </div>
                % endif
            </div>
        </div>
    </div>

    <div class="wrapper-accomplishment-metadata">
        <div class="accomplishment-metadata">
            <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

            <div class="wrapper-metadata">
                <dl class="metadata accomplishment-recipient">
                    <dt class="label sr-only">${_("Awarded to:")}</dt>
                    <dd class="value copy copy-meta">
                        <span class="recipient-img">
                            <img class="src" src="/static/certificates/images/demo-user-profile.png" alt="Recipient Image">
                        </span>
                        <div class="recipient-details">
                            <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                            <p class="recipient-username">${accomplishment_copy_username} @ ${platform_name}</p>
                        </div>
                    </dd>
                </dl>
                <dl class="metadata accomplishment-id">
                    <dt class="label copy copy-meta">${certificate_id_number_title}:</dt>
                    <dd class="value copy copy-base">${certificate_id_number}</dd>
                </dl>
                <dl class="metadata accomplishment-date">
                    <dt class="label copy copy-meta">${certificate_date_issued_title}</dt>
                    <dd class="value copy copy-base">${certificate_date_issued}</dd>
                </dl>
            </div>
        </div>
    </div>

</main>
