<%page expression_filter="h"/>
<%!
  import json
  import yaml
  import ast
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="bodyclass">uamx-search</%block>
<%block name="pagetitle">${_("Courses")}</%block>

<!-- BANNER -->
<div class="uamx-banner_top uamx-banner_top_search">
  <div class="uamx_banner-top-text">
    <h5>Encuentra tu programa en la UAM</h5>
  </div>
</div>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">

        <%include file="./uamx_discovery_header.html"/>
        <%include file="./uamx_facets_filters.html" args="uamx=courses_uamx,moocs=courses_moocs,fcon=courses_fcon"/>

        <div class="courses" role="region" aria-label="${_('List of Courses')}">
          <h2 class="courses-list-title_uamx courses-list-title_uamx-uamx">Innovación Docente</h2>
          <ul class="courses-listing courses-list">
            %for course in courses_uamx:
              <%
                ## Manage data-src for each course/item

                if isinstance(course.short_description, unicode) and course.short_description[:1] == '{':
                  json_metadata = json.loads(course.short_description)
                else:
                  json_metadata = json.loads('{}')

                if 'materias' not in json_metadata:
                  json_metadata['materias'] = ['otras']

                if 'facultades' not in json_metadata:
                  json_metadata['facultades'] = ['otras']

                if 'organizacion' not in json_metadata:
                  json_metadata['organizacion'] = ['uamx']

                data_materias = ','.join(json_metadata['materias'])
                data_facultades = ','.join(json_metadata['facultades'])
                data_organizacion = ','.join(json_metadata['organizacion'])
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-uam_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="uamx" data-invitationonly="${'cerrado' if course.invitation_only else 'abierto'}">
                <%include file="../course.html" args="course=course" />
              </li>
            %endfor
          </ul>

          <h2 class="courses-list-title_uamx courses-list-title_uamx-mooc">MOOC</h2>
          <ul class="courses-listing courses-list courses-moocs_uamx">
            %for course in courses_moocs:
              <%
                ## Manage data-src for each course/item

                if isinstance(course.short_desc, unicode) and course.short_desc[:1] == '{':
                  json_metadata = json.loads(course.short_desc)
                else:
                  json_metadata = json.loads('{}')

                if 'materias' not in json_metadata:
                  json_metadata['materias'] = ['otras']

                if 'facultades' not in json_metadata:
                  json_metadata['facultades'] = ['otras']

                if 'organizacion' not in json_metadata:
                  json_metadata['organizacion'] = ['mooc']

                data_materias = ','.join(json_metadata['materias'])
                data_facultades = ','.join(json_metadata['facultades'])
                data_organizacion = ','.join(json_metadata['organizacion'])
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-mooc_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="mooc" data-invitationonly="abierto">
                <%include file="../custom_course.html" args="course=course" />
              </li>
            %endfor
          </ul>

          <h2 class="courses-list-title_uamx courses-list-title_uamx-fcon">Formación Continua</h2>
          <ul class="courses-listing courses-list courses-fcon_uamx">
            %for course in courses_fcon:
              <%
                ## Manage data-src for each course/item

                if isinstance(course.short_desc, unicode) and course.short_desc[:1] == '{':
                  json_metadata = json.loads(course.short_desc)
                else:
                  json_metadata = json.loads('{}')

                if 'materias' not in json_metadata:
                  json_metadata['materias'] = ['otras']

                if 'facultades' not in json_metadata:
                  json_metadata['facultades'] = ['otras']

                if 'organizacion' not in json_metadata:
                  json_metadata['organizacion'] = ['fcon']

                data_materias = ','.join(json_metadata['materias'])
                data_facultades = ','.join(json_metadata['facultades'])
                data_organizacion = ','.join(json_metadata['organizacion'])
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-fcon_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="fcon" data-invitationonly="abierto">
                <%include file="../custom_course.html" args="course=course" />
              </li>
            %endfor
          </ul>

        </div>

      </section>
    </section>
</main>
