<%page expression_filter="h"/>
<%!
  import json
  import yaml
  import ast
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="bodyclass">uamx-search</%block>
<%block name="pagetitle">${_("Courses")}</%block>

<!-- BANNER -->
<div class="uamx-search_banner">
  <div class="uamx-search_banner-title">
    <div class="uamx-search_banner-tittle-inner">
      <h3>Encuentra tu programa en la UAM</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    </div>
  </div>
</div>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">

        <%include file="./uamx-discovery-header.html"/>

        <div class="courses" role="region" aria-label="${_('List of Courses')}">

          <%
            ## Create facets dictionary
            facets = {
              "materias": {},
              "facultades": {},
              "organizacion": {}
            }
          %>
          <h2 class="courses-list-title_uamx courses-list-title_uamx-uamx">Innovación Docente</h2>
          <ul class="courses-listing courses-list">
            %for course in courses_uamx:
              <%
                ## Manage data-src for each course/item

                if isinstance(course.short_description, unicode) and course.short_description[:1] == '{':
                  json_metadata = json.loads(course.short_description)
                else:
                  json_metadata = json.loads('{}')

                if 'materias' not in json_metadata:
                  json_metadata['materias'] = ['otras']

                if 'facultades' not in json_metadata:
                  json_metadata['facultades'] = ['otras']

                data_materias = ','.join(json_metadata['materias'])
                data_facultades = ','.join(json_metadata['facultades'])

                ## Fill facets JSON
                for key in json_metadata['materias']:
                  if key in facets['materias']:
                    facets['materias'][key] += 1
                  else:
                    facets['materias'][key] = 1

                for key in json_metadata['facultades']:
                  if key in facets['facultades']:
                    facets['facultades'][key] += 1
                  else:
                    facets['facultades'][key] = 1

                ## As organization is same for all items in this list just fill facets number
                key = 'uamx'
                if key in facets['organizacion']:
                  facets['organizacion'][key] += 1
                else:
                  facets['organizacion'][key] = 1
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-uam_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="uamx">
                <%include file="../course.html" args="course=course" />
              </li>
            %endfor
          </ul>

          <h2 class="courses-list-title_uamx courses-list-title_uamx-mooc">MOOC</h2>
          <ul class="courses-listing courses-list courses-moocs_uamx">
            %for course in courses_moocs:
              <%
                ## Manage data-src for each course/item

                if isinstance(course.short_desc, unicode) and course.short_desc[:1] == '{':
                  json_metadata = json.loads(course.short_desc)
                else:
                  json_metadata = json.loads('{}')

                if 'materias' not in json_metadata:
                  json_metadata['materias'] = ['otras']

                if 'facultades' not in json_metadata:
                  json_metadata['facultades'] = ['otras']

                data_materias = ','.join(json_metadata['materias'])
                data_facultades = ','.join(json_metadata['facultades'])

                ## Fill facets JSON
                for key in json_metadata['materias']:
                  if key in facets['materias']:
                    facets['materias'][key] += 1
                  else:
                    facets['materias'][key] = 1

                for key in json_metadata['facultades']:
                  if key in facets['facultades']:
                    facets['facultades'][key] += 1
                  else:
                    facets['facultades'][key] = 1

                ## As organization is same for all items in this list just fill facets number
                key = 'mooc'
                if key in facets['organizacion']:
                  facets['organizacion'][key] += 1
                else:
                  facets['organizacion'][key] = 1
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-mooc_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="mooc">
                <%include file="../custom_course.html" args="course=course" />
              </li>
            %endfor
          </ul>

          <h2 class="courses-list-title_uamx courses-list-title_uamx-fcon">Formación Continua</h2>
          <ul class="courses-listing courses-list courses-fcon_uamx">
            %for course in courses_fcon:
              <%
                ## Manage data-src for each course/item

                if isinstance(course.short_desc, unicode) and course.short_desc[:1] == '{':
                  json_metadata = json.loads(course.short_desc)
                else:
                  json_metadata = json.loads('{}')

                if 'materias' not in json_metadata:
                  json_metadata['materias'] = ['otras']

                if 'facultades' not in json_metadata:
                  json_metadata['facultades'] = ['otras']

                data_materias = ','.join(json_metadata['materias'])
                data_facultades = ','.join(json_metadata['facultades'])

                ## Fill facets JSON
                for key in json_metadata['materias']:
                  if key in facets['materias']:
                    facets['materias'][key] += 1
                  else:
                    facets['materias'][key] = 1

                for key in json_metadata['facultades']:
                  if key in facets['facultades']:
                    facets['facultades'][key] += 1
                  else:
                    facets['facultades'][key] = 1

                ## As organization is same for all items in this list just fill facets number
                key = 'fcon'
                if key in facets['organizacion']:
                  facets['organizacion'][key] += 1
                else:
                  facets['organizacion'][key] = 1
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-fcon_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="fcon">
                <%include file="../custom_course.html" args="course=course" />
              </li>
            %endfor
          </ul>

        </div>

<%
KEY_TO_STRING_MAP = {
  'organizacion': 'oferta académica',
  'uamx': 'innovación docente',
  'fcon': 'formación continua'
}

def keyToString (key):
  if not key in KEY_TO_STRING_MAP:
    return key
  else:
    return KEY_TO_STRING_MAP[key]
%>
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists search-facets-uamx">
              % for facet in facets:
                <h3 class="header-facet">${keyToString(facet)}</h3>
                <ul class="facet-list">
                % for key in facets[facet]:
                  <li>
                    <button data-facet="${facet}" data-value="${key}" data-text="${key}" class="facet-option discovery-button">
                      ${keyToString(key)} <span class="count"><span class="count-number">${facets[facet][key]}</span></span>
                    </button>
                  </li>
                % endfor
                </ul>
              % endfor
          </section>
        </aside>

      </section>
    </section>
    <%include file="scripts.html" args="facets=facets"/>
</main>
