<%page expression_filter="h"/>
<%!
  import json
  import yaml
  import ast
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json

  from courses_edx.utils import get_course_metadata
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="bodyclass">uamx-search</%block>
<%block name="pagetitle">${_("Courses")}</%block>

<!-- BANNER -->
<div class="uamx-banner_top uamx-banner_top_search">
  <div class="uamx_banner-top-text">
    <h5>Encuentra tu programa en la UAM</h5>
  </div>
</div>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">

        <%include file="./uamx_discovery_header.html"/>
        <%include file="./uamx_facets_filters.html" args="uamx=courses_uamx,moocs=courses_moocs,fcon=courses_fcon"/>

        <div class="courses" role="region" aria-label="${_('List of Courses')}">

          <h2 class="courses-list-title_uamx courses-list-title_uamx-mooc">MOOC</h2>
          <ul class="courses-listing courses-list courses-moocs_uamx">
            %for course in courses_moocs:
              <%
                ## Manage data-src for each course/item
                meta = get_course_metadata(course)
                data_materias = ','.join('otras' if not 'materias' in meta else meta['materias'])
                data_facultades = ','.join('otras' if not 'facultades' in meta else meta['facultades'])
                data_invitationonly = 'cerrado' if hasattr(course, 'invitation_only') and course.invitation_only else 'abierto'
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-mooc_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="mooc" data-invitationonly="${data_invitationonly}">
                <%include file="../course.html" args="course=course" />
              </li>
            %endfor
          </ul>

          <h2 class="courses-list-title_uamx courses-list-title_uamx-fcon">Formación Continua</h2>
          <ul class="courses-listing courses-list courses-fcon_uamx">
            %for course in courses_fcon:
              <%
                ## Manage data-src for each course/item
                meta = get_course_metadata(course)
                data_materias = ','.join('otras' if not 'materias' in meta else meta['materias'])
                data_facultades = ','.join('otras' if not 'facultades' in meta else meta['facultades'])
                data_invitationonly = 'cerrado' if hasattr(course, 'invitation_only') and course.invitation_only else 'abierto'
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-fcon_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="fcon" data-invitationonly="${data_invitationonly}">
                <%include file="../course.html" args="course=course" />
              </li>
            %endfor
          </ul>

          <h2 class="courses-list-title_uamx courses-list-title_uamx-uamx">Innovación Docente</h2>
          <ul class="courses-listing courses-list">
            %for course in courses_uamx:
              <%
                ## Manage data-src for each course/item
                meta = get_course_metadata(course)
                data_materias = ','.join('otras' if not 'materias' in meta else meta['materias'])
                data_facultades = ','.join('otras' if not 'facultades' in meta else meta['facultades'])
                data_invitationonly = 'cerrado' if course.invitation_only else 'abierto'
              %>

              <li class="courses-listing-item course-listing-item_uamx organization-uam_uamx" data-materias="${data_materias}" data-facultades="${data_facultades}" data-organizacion="uamx" data-invitationonly="${data_invitationonly}">
                <%include file="../course.html" args="course=course" />
              </li>
            %endfor
          </ul>
        </div>

      </section>
    </section>
</main>
