<script>

var KEY_TO_STRING_MAP = {
  'organizacion': 'oferta académica',
  'uamx': 'innovación docente',
  'fcon': 'formación continua',
  'invitationonly': 'formato',
  'cerrado': 'por invitación'
};

var VIEWING_COURSES_TEMPLATE = 'Mostrando ~@PARTIAL@~ de ~@TOTAL@~ cursos.';
var VIEWING_COURSES_TEMPLATE_PARTIAL = '~@PARTIAL@~';
var VIEWING_COURSES_TEMPLATE_TOTAL = '~@TOTAL@~';

var ACTIVE_FILTER_TEMPLATE = `
    <li class="active-filter">
      <button data-value="verified" class="facet-option discovery-button" data-type="~@KEY@~">
       <span class="query">~@VALUE@~</span>
       <span aria-hidden="true" class="fa fa-times"></span>
      </button>
    </li>
`;
var ACTIVE_FILTER_TEMPLATE_KEY = '~@KEY@~';
var ACTIVE_FILTER_TEMPLATE_VALUE = '~@VALUE@~';

var query_string = window.location.search.substring(1);
var filters = {
  query: parse_query_string(query_string).search_query,
  materias: parse_query_string(query_string).materias,
  organizacion: parse_query_string(query_string).organizacion,
  facultades: parse_query_string(query_string).facultades,
  invitationonly: parse_query_string(query_string).invitationonly,
};

$( document ).ready(function onDocumentReady () {

  $('#filter-bar .clear-filters')
   .click(function () {
     for (var facet in filters) {
       filters[facet] = undefined;
     }

     render();
  });

  $('.search-facets-uamx button')
    .click(function onFacetsClick() {

      var type = $(this).data("facet")
      var value = $(this).data("value");

      if($(this).hasClass('selected')) {
        filters[type] = undefined;
      } else {
        filters[type] = value;
      }

      $('#facetFilter.show').collapse('hide');

      render();
  });

  function render() {
    renderButtons();
    renderFilters();
    renderList();
    renderViewingText();
  }

  function renderButtons() {

    for (var facet in filters) {

       if (filters[facet]) {
         $('.search-facets-uamx button[data-facet="' + facet + '"]')
           .parent()
           .addClass('hidden');

         $('.search-facets-uamx button[data-facet="' + facet + '"][data-value="' + filters[facet] + '"]')
           .addClass('selected')
           .parent()
           .removeClass('hidden');
       } else {
         $('.search-facets-uamx button[data-facet="' + facet + '"]')
           .removeClass('selected')
           .parent()
           .removeClass("hidden");
       }
    }
  }

  function renderFilters () {

    var someValue;
    for (var facet in filters) {
      
      var value = filters[facet];
      someValue = someValue || value;

      if (value && $('#filter-bar button[data-type="' + facet + '"]').length === 0) {
        var template = ACTIVE_FILTER_TEMPLATE
          .replace(ACTIVE_FILTER_TEMPLATE_KEY, facet)
          .replace(ACTIVE_FILTER_TEMPLATE_VALUE, KEY_TO_STRING_MAP[value] || value);

        $('#filter-bar ul.active-filters')
          .append(template);
         
        $('#filter-bar button[data-type="' + facet + '"]')
          .click(function onFilterButtonClick() {
            filters[$(this).data('type')] = undefined;
            render();
          });
      } else if (!value) {
        $('#filter-bar button[data-type="' + facet + '"]')
          .parent()
          .remove();
      }
    }

    if (!someValue) {
      $('#filter-bar').addClass('is-collapsed').removeClass('is_animated');
    } else {
      $('#filter-bar').removeClass('is-collapsed').addClass('is-animated');
    }
  }

  function renderList () {
    var items = $('.course-listing-item_uamx');
    var filtersCount = {}
    for (key in filters) {
      filtersCount[key] = filtersCount[key] || {};
    }


    items.each(function () {

      var xfacultades = filters["facultades"] && $(this).data("facultades").match(filters["facultades"]);
      var xmaterias = filters["materias"] && $(this).data("materias").match(filters["materias"]);
      var xorganizacion = filters["organizacion"] && $(this).data("organizacion").match(filters["organizacion"]);
      var xinvitationonly = filters["invitationonly"] && $(this).data("invitationonly").match(filters["invitationonly"]);
      var xquery = filters["query"] && $(this).find('.course-name').text().match(new RegExp(filters["query"], "i"));

      var countFilters = [filters["facultades"], filters["materias"], filters["organizacion"], filters["invitationonly"], filters["query"]].filter(Boolean);
      var matchingFilters = [xfacultades, xmaterias, xorganizacion, xinvitationonly, xquery].filter(Boolean);

      if (countFilters.length === matchingFilters.length) {
        $(this).removeClass('hidden');

        var dataset = $(this).data();
        for (var key in dataset) {
          var values = dataset[key].split(',');
          values.forEach(function (v) {
            filtersCount[key][v] = filtersCount[key][v] ? filtersCount[key][v] + 1 : 1;
          });
        };
      } else {
        $(this).addClass('hidden');
      }
    });

    $(".courses-list-title_uamx").each(function () {
      if ($(this).next('ul').children(":not(.hidden)").length === 0) {
        $(this).addClass("hidden");
      } else {
        $(this).removeClass("hidden");
      }
    });

    renderButtonsCount(filtersCount);
  }

  function renderButtonsCount(filtersCount) {

    $('.search-facets-uamx .facet-option').each(function () {

      var facet = $(this).data('facet');
      var value = $(this).data('value');
      var count = filtersCount[facet][value];
 
      if (count) {
        $(this).find('.count-number')
          .html(count);
      } else {
        $(this).parent().addClass('hidden');
      }
    });
  }

  function renderViewingText () {

    var count_show = $('.course-listing-item_uamx').not('.hidden').length;
    var total = $('.course-listing-item_uamx').length;
    $('#discovery-message').text(function (index, text) {
      return VIEWING_COURSES_TEMPLATE
        .replace(VIEWING_COURSES_TEMPLATE_PARTIAL, count_show)
        .replace(VIEWING_COURSES_TEMPLATE_TOTAL, total);
    });
  }

  render();
});

// Utility to get params from URL, crossbrowser.
// https://stackoverflow.com/questions/979975/how-to-get-the-value-from-the-get-parameters
function parse_query_string(query) {
  var vars = query.split("&");
  var query_string = {};
  for (var i = 0; i < vars.length; i++) {
    var pair = vars[i].split("=");
    var key = decodeURIComponent(pair[0]);
    var value = decodeURIComponent(pair[1]);
    // If first entry with this name
    if (typeof query_string[key] === "undefined") {
      query_string[key] = decodeURIComponent(value);
      // If second entry with this name
    } else if (typeof query_string[key] === "string") {
      var arr = [query_string[key], decodeURIComponent(value)];
      query_string[key] = arr;
      // If third or later entry with this name
    } else {
      query_string[key].push(decodeURIComponent(value));
    }
  }
  return query_string;
}
</script>
