<script>

var filters = {};
var query_string = window.location.search.substring(1);
var query = parse_query_string(query_string).search_query;

if (query) {
  filters['query'] = query;
}

$( document ).ready(function onDocumentReady () {
  $('.search-facets-uamx input[type=checkbox]')
    .change(function onCheckboxChange() {

      var type = $(this).attr('name');
      var value = $(this).val();

      if($(this).is(':checked')) {
        filters[type] = value;
      } else {
        filters[type] = undefined;
      }

      render();
  });

  function render() {
    renderFilters();
    renderList();
  }

  function renderFilters () {

    $('.search-filters-uamx li').each(function () {
      var name = $(this).attr('name');

      if (filters[name]) {
        $(this).html(filters[name]);
      } else {
        $(this).html('');
      }
    });
  }

  function renderList () {
    var items = $('.course-listing-item_uamx');

    items.each(function () {

      var xfacultades = filters["facultades"] && $(this).data("facultades").match(filters["facultades"]);
      var xmaterias = filters["materias"] && $(this).data("materias").match(filters["materias"]);
      var xquery = filters["query"] && $(this).find('.course-name').text().match(new RegExp(filters["query"], "i"));

      var countFilters = [filters["facultades"], filters["materias"], filters["query"]].filter(Boolean);
      var matchingFilters = [xfacultades, xmaterias, xquery].filter(Boolean);

      if (countFilters.length === matchingFilters.length) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  }

  render();
});

// Utility to get params from URL, crossbrowser.
// https://stackoverflow.com/questions/979975/how-to-get-the-value-from-the-get-parameters
function parse_query_string(query) {
  var vars = query.split("&");
  var query_string = {};
  for (var i = 0; i < vars.length; i++) {
    var pair = vars[i].split("=");
    var key = decodeURIComponent(pair[0]);
    var value = decodeURIComponent(pair[1]);
    // If first entry with this name
    if (typeof query_string[key] === "undefined") {
      query_string[key] = decodeURIComponent(value);
      // If second entry with this name
    } else if (typeof query_string[key] === "string") {
      var arr = [query_string[key], decodeURIComponent(value)];
      query_string[key] = arr;
      // If third or later entry with this name
    } else {
      query_string[key].push(decodeURIComponent(value));
    }
  }
  return query_string;
}
</script>
