<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type

import json
import yaml
import ast
%>

<%page args="uamx,moocs,fcon" expression_filter="h"/>

<%
KEY_TO_STRING_MAP = {
  'organizacion': 'oferta académica',
  'uamx': 'innovación docente',
  'fcon': 'formación continua',
  'invitationonly': 'formato',
  'cerrado': 'por invitación'
}

def keyToString (key):
  if not key in KEY_TO_STRING_MAP:
    return key
  else:
    return KEY_TO_STRING_MAP[key]
%>

<%
## Create facets dictionary
facets = {
  'materias': {},
  'facultades': {},
  'organizacion': {},
  'invitationonly': {'abierto': 0, 'cerrado': 0}
}


def add (course, org):
  if hasattr(course, 'short_desc') and isinstance(course.short_desc, unicode) and course.short_desc[:1] == '{':
    json_metadata = json.loads(course.short_desc)
  elif hasattr(course, 'short_description') and isinstance(course.short_description, unicode) and course.short_description[:1] == '{':
    json_metadata = json.loads(course.short_description)
  else:
    json_metadata = json.loads('{}')

  if 'materias' not in json_metadata:
    json_metadata['materias'] = ['otras']

  if 'facultades' not in json_metadata:
    json_metadata['facultades'] = ['otras']

  if 'organizacion' not in json_metadata:
    json_metadata['organizacion'] = [org]

  for key in json_metadata['materias']:
    if key in facets['materias']:
      facets['materias'][key] += 1
    else:
      facets['materias'][key] = 1

  for key in json_metadata['facultades']:
    if key in facets['facultades']:
      facets['facultades'][key] += 1
    else:
      facets['facultades'][key] = 1

  for key in json_metadata['organizacion']:
    if key in facets['organizacion']:
      facets['organizacion'][key] += 1
    else:
      facets['organizacion'][key] = 1

  if hasattr(course, 'invitation_only'):
    facets['invitationonly']['cerrado'] += 1
  else:
    facets['invitationonly']['abierto'] += 1

for course in uamx:
  add(course, 'uamx')

for course in moocs:
  add(course, 'mooc')

for course in fcon:
  add(course, 'fcon')
%>

<aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu collapse" id="facetFilter">
  <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
  <section class="search-facets-lists search-facets-uamx">
      % for facet in facets:
        <h3 class="header-facet">${keyToString(facet)}</h3>
        <ul class="facet-list">
        % for key in facets[facet]:
          <li>
            <button data-facet="${facet}" data-value="${key}" data-text="${key}" class="facet-option discovery-button">
              ${keyToString(key)} <span class="count"><span class="count-number">${facets[facet][key]}</span></span>
            </button>
          </li>
        % endfor
        </ul>
      % endfor
  </section>
</aside>

<%include file="scripts.html" args="facets=facets"/>

