<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type

import json
import yaml
import ast

from courses_edx.utils import get_course_metadata,get_course_organization
%>

<%page args="uamx,moocs,fcon" expression_filter="h"/>

<%
"""
Facets dictionary keys are used as titles in facet's filter list. 
Some of them need to be transformed with this map
"""
KEY_TO_STRING_MAP = {
  'organizacion': 'Oferta académica',
  'uamx': 'Innovación docente',
  'fcon': 'Formación continua',
  'mooc': 'MOOC',
  'edx': 'MOOC',
  'otras': 'Otras',
  'materias': 'Materias',
  'facultades': 'Facultades',
  'invitationonly': 'Formato',
  'cerrado': 'Por invitación',
  'abierto': 'Abierto'
}

"""
Get KEY_TO_STRING_MAP variabe if exists, if not, capitalize the string (only first letter)
"""
def keyToString (key):
  """
  Parameters
  ----------
  key : str
    The key in json dictionary

  Returns
  -------
  string : str
    A string to be shown as title
  """
  return key.capitalize() if not key in KEY_TO_STRING_MAP else KEY_TO_STRING_MAP[key]
%>

<%
"""
Facet filter list is filled by the 'facets' dictionary data
We create the dictionary with empty data, and fill it with short_description json metadata for each course
"""
facets = {
  'materias': {},
  'facultades': {},
  'organizacion': {},
  'invitationonly': {'abierto': 0, 'cerrado': 0}
}

"""
Following function fills 'facets' dictionary with each course metadata
"""
def add_metadata (course, default_org):
  """
  Parameters
  ---------
  course: CourseOverview | EdxCourseOverview
    The course raw data
  default_org: str
    Default course organization
  """

  json_metadata = get_course_metadata(course)

  for key in json_metadata['materias']:
    if key in facets['materias']:
      facets['materias'][key] += 1
    else:
      facets['materias'][key] = 1

  for key in json_metadata['facultades']:
    if key in facets['facultades']:
      facets['facultades'][key] += 1
    else:
      facets['facultades'][key] = 1

  # organization may be overriden by the json metadata. The following use get_course_organization from courses_edx.utils to retrieve the correct organization
  key_org = get_course_organization(course, default_org)

  if key_org in facets['organizacion']:
    facets['organizacion'][key_org] += 1
  else:
    facets['organizacion'][key_org] = 1

  if hasattr(course, 'invitation_only'):
    facets['invitationonly']['cerrado'] += 1
  else:
    facets['invitationonly']['abierto'] += 1

"""
Execute add_metadata function with each element in each list of courses
"""

for course in uamx:
  add_metadata(course, 'uamx')

for course in moocs:
  add_metadata(course, 'edx')

for course in fcon:
  add_metadata(course, 'fcon')

%>

<aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu collapse" id="facetFilter">
  <h2 class="header-search-facets">Refina tu búsqueda</h2>
  <section class="search-facets-lists search-facets-uamx">
      % for facet in facets:
        <h3 class="header-facet">${keyToString(facet)}</h3>
        <ul class="facet-list">
        <%
          sorted_keys = sorted(facets[facet], key = keyToString)
        %>
        % for key in sorted_keys:
          <li>
            <button data-facet="${facet}" data-value="${key}" data-text="${key}" class="facet-option discovery-button">
              ${keyToString(key)} <span class="count"><span class="count-number">${facets[facet][key]}</span></span>
            </button>
          </li>
        % endfor
        </ul>
      % endfor
  </section>
</aside>

<%include file="scripts.html" args="facets=facets"/>

