<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! 

import json

from django.utils.translation import ugettext as _ 
from django.urls import reverse
from six import text_type

from django.contrib.auth.models import User, AnonymousUser

from courseware.courses import get_courses
from courses_edx.models import ExCourseOverview
from courses_edx.utils import get_course_organization
%>

<%

MAP = {
  'uamx': 'organization-uam_uamx',
  'fcon': 'organization-fcon_uamx',
  'edx': 'organization-mooc_uamx'
}

user = AnonymousUser()

custom_courses = ExCourseOverview.objects.all()
fcon = [c for c in custom_courses if c.organization == 'fcon']
moocs = [c for c in custom_courses if c.organization == 'edx']
uamx = get_courses(user)

def course_to_dict(course):

  key = get_course_organization(course, course.display_org_with_default)

  if key not in MAP:
    key = 'uamx'

  return {
    'org': MAP[key],
    'course': course
  }

def get_highlighted(list):
  highlighted = []

  for course in list:
    json_metadata = json.loads('{}')

    if hasattr(course, 'short_description'):
      if isinstance(course.short_description, unicode) and course.short_description[:1] == '{':
        json_metadata = json.loads(course.short_description)
    elif hasattr(course, 'short_desc'):
      if isinstance(course.short_desc, unicode) and course.short_desc[:1] == '{':
        json_metadata = json.loads(course.short_desc)

    if 'highlighted' in json_metadata:
      highlighted.append(course)

  return highlighted

highlighted_courses = get_highlighted(fcon + moocs + uamx)[:9]

if len(highlighted_courses) == 0:
  highlighted_courses = uamx[:9]

highlighted_list = map(course_to_dict, highlighted_courses)
%>

<section class="courses-container">
  <section class="highlighted-courses">
      <section class="courses">

        <h5 class="uamx_index-smalltitles">Cursos destacados</h5>

        <div class="uamx_index-highlighted-mobile">
          <ul class="list-unstyled">
            %for dict in highlighted_list:
              <li class="${dict['org']}">
                <%include file="./course.html" args="course=dict['course']" />
              </li>
            %endfor
          </ul>
        </div>

        %if len(highlighted_list) > 3:
        <div id="carouselExampleIndicators" class="carousel slide uamx_index-carousel hidden-mobile" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
        
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            %for i in range(3, len(highlighted_list[:homepage_course_max]), 3):
            <li data-target="#carouselExampleIndicators" data-slide-to="${i/3}"></li>
            %endfor
          </ol>
          <div class="carousel-inner">
            %for i in range(len(highlighted_list)):
                  
              <% dict = highlighted_list[i] %>

              %if i%3 == 0:

              <%
                carousel_className = ''

                if len(highlighted_list) - i == 2:
                  carousel_className = 'uamx_carousel-two'
                elif len(highlighted_list) - i == 1:
                  carousel_className = 'uamx_carousel-one'
                endif
              %>

              <div class="carousel-item ${'active' if i == 0 else ''}">
                <div class="uamx_carousel-inneritem">
              %endif
                  
                    <div class="uamx_carousel-inneritem-container ${dict['org']} ${carousel_className}">
                      <%include file="./course.html" args="course=dict['course']" />
                    </div>
        
              %if (i-2)%3 == 0 or i == (len(highlighted_list)-1):
                </div>  
              </div>
              %endif
            %endfor
          </div>
          <a class="carousel-control-prev uamx_carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next uamx_carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        %else:
        <div class="uamx_index-carousel uamx_index-static-carousel hidden-mobile row">
          %for course in highlighted_list:
            <div class="${dict['org']} col-sm">
              <%include file="./course.html" args="course=dict['course']" />
            </div>
          %endfor
        </div>
        %endif

      </section>

      <section class="uamx_index-category-wrapper">
        <h5 class="uamx_index-smalltitles">Oferta académica</h5>
        <div class="row uamx_index-categories-container">
          <article class="col-sm card uamx_index-category uamx_index-category--mooc">
            <a href="/courses?organizacion=mooc" class="card-body">
              <h5 class="card-title">MOOC</h5>
            </a>
          </article>
          <article class="col-sm card uamx_index-category uamx_index-category--uamx">
            <a href="/courses?organizacion=uamx" class="card-body">
              <h5 class="card-title">INNOVACIÓN<br/>DOCENTE</h5>
            </a>
          </article>
          <article class="col-sm card uamx_index-category uamx_index-category--fcon">
            <a href="/courses?organizacion=fcon" class="card-body">
              <h5 class="card-title">FORMACIÓN<br/>CONTINUA</h5>
            </a>
          </article>
        </div>
      </section>

      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>

  </section>
</section>

