<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! 
from django.utils.translation import ugettext as _ 
from django.urls import reverse
from six import text_type
%>

<section class="courses-container">
  <section class="highlighted-courses">
      <section class="courses">

        <h4>Cursos destacados</h4>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
        
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            %for i in range(3, len(courses[:homepage_course_max]), 3):
            <li data-target="#carouselExampleIndicators" data-slide-to="${i/3}"></li>
            %endfor
          </ol>
          <div class="carousel-inner">
            %for i in range(len(courses)):
              %if i%3 == 0:
              <div class="carousel-item ${'active' if i == 0 else ''}">
                <div class="uamx_carousel-inneritem">
              %endif
        
                <article class="uamx_carousel-inneritem-article">
        
                  <% course = courses[i] %>
                  
                  %if hasattr(course, 'name'):
                    <a href="${course.course_url}" class="${course.organization}">
                      <h1>${i}</h1>
                      <h4>${course.name}</h4>
                      <img src="${course.image_url}"/>
                    </a>
                  %else:
                    <a href="${reverse('about_course', args=[text_type(course.id)])}" class="${course.display_org_with_default}">
                      <h1>${i}</h1>
                      <h4>${course.display_name_with_default}</h4>
                      <img src="${course.course_image_url}"/>
                    </a>
                  %endif
                  
                </article>
        
              %if (i-2)%3 == 0 or i == (len(courses)-1):
                </div>  
              </div>
              %endif
            %endfor
          </div>
          <a class="carousel-control-prev uamx_carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next uamx_carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </section>

      <section>
        <h4>Formación académica</h4>
        <ul>
          <li class="uamx_index-category uamx_index-category-mooc">MOOC</li>
          <li class="uamx_index-category uamx_index-category-id">INNOVACIÓN DOCENTE</li>
          <li class="uamx_index-category uamx_index-category-fcon">FORMACIÓN CONTINUA</li>
        </ul>
      </section>

      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>

  </section>
</section>

