## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="container-fluid wrapper-footer uamx_footer">
  <footer>
    <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li><a href="https://www.uam.es/ss/Satellite/es/1234886352057/1242652253892/servicio/servicio/Tecnologias_para_la_Educacion.htm">Unidad de Tecnologías para la Educación</a></li>
          <li><a href="https://www.uam.es/CentroFormacionContinua/Home">Centro de Formación Continua</a></li>
          <li><a href="https://www.uam.es/UAM/Servicios-TI/1234886352083.htm?language=es">Catálogo de Servicios</a></li>
        </ul>

        <a href="https://uam.es" class="uamx_footer-uamlogo">
          <img class="logo" src="${static.url("images/logo_uam.png")}" alt="Logo Universidad Autónoma de Madrid"/>
        </a>
      </div>
        
      <div class="col-sm uamx_footer-middle">
        <ul class="list-unstyled">
          <li><a href="https://uamx-pre.uam.es/privacy">Política de privacidad</a></li>
          <li><a href="https://uamx-pre.uam.es/tos">Términos del servicio</a></li>
          <li><a href="https://uamx-pre.uam.es/about">Acerca de</a></li>
          <li><a href="mailto:uamx@uam.es">Contacto</a></li>
        </ul>
      </div>

      <div class="col-sm">
        <div>
          <p>Síguenos en 
            <a href="#"><img alt="Twitter" src="${static.url("images/tw.png")}" width="30px"/></a> 
            <a href="#"><img alt="Instagram" src="${static.url("images/ig.png")}" width="30px"/></a> 
            <a href="#"><img alt="Facebook" src="${static.url("images/fb.png")}" width="30px"/></a>
          </p>
        </div>
        ## Please leave this link and use one of the logos provided
        ## The OpenEdX link may be hidden when this view is served
        ## through an API to partner sites (such as marketing sites or blogs),
        ## which are not technically powered by Open edX.
        % if not hide_openedx_link:
          <div class="footer-about-openedx">
            <h5>
              <a href="${footer['openedx_link']['url']}">
                <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
              </a>
            </h5>
          </div>
        % endif
      </div>
    </div>
    ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
    <p class="copyright small">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% if not uses_bootstrap:
  <!-- McDaniel Oct-2018: add the Bootstrap javascript library, unless it's already included from webpack -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  ## xss-lint: disable=mako-invalid-js-filter
  <script type="text/javascript" src="${static.url('common/js/vendor/bootstrap.bundle.js')}"></script>
% endif

