<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from openedx.core.djangolib.markup import HTML, Text
%>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="uamx-banner_top">
  <div class="uamx_banner-top-text">
    <h5>Aprende a tu ritmo</h5>
    <p>Formación online a tu alcance, estés donde estés.</p>
    <a class="btn btn-primary uamx_banner-top-button" href="/courses">Ver cursos</a>
  </div>
</div>

<div class="form-row align-items-center uamx_index-search justify-content-center">
  <div class="col-auto">
    <label class="" for="discovery-input">¿Qué te interesa?</label>
  </div>
  <div class="col-auto">
    <form class="wrapper-search-input" action="/courses" method="get">
      <input id="discovery-input" name="search_query" class="discovery-input" placeholder="Buscar curso" type="text"/>
      <button type="submit" class="button postfix discovery-submit" title="Buscar">
        <span class="icon fa fa-search" aria-hidden="true"></span>
        <div aria-live="polite" aria-relevant="all">
          <div id="loading-indicator" class="loading-spinner hidden">
            <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
            <span class="sr">Cargando</span>
          </div>
        </div>
      </button>
    </form>
  </div>
</div>

