.course-info .details {
  
  font-family: $font-family-sans-serif;
  
  h2 {
    font-family: $font-family-sans-serif;
  }

  .course-sidebar header .social-sharing .sharing-message {
    font-family: $font-family-sans-serif;
  }
}
