
@media screen and (max-width: 575px) {

  .uamx_index-highlighted-mobile {
    li {
      width: 100%;
    }
  }

  .uamx_footer.container-fluid .uamx_footer-middle {
    border-right: none;
    border-left: none;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin: 20px 0;
    padding-top: 20px;
  }
}
