/** index.html ***/

.uamx-home {
  .content-wrapper {
    padding: 0;
    margin: 0;
  }

  .courses-container {
    padding: 0 20px;
  }

  .highlighted-courses .courses {
    float: none;
    margin-bottom: 20px;
  }

  h5.uamx_index-smalltitles {
    margin-left: 5%;
  }

  .courses-container .courses-more {
    text-align: left;
    margin-left: 5%;
    margin-top: 40px;
    font-size: 14px;
    text-decoration: underline;
  }
}

.uamx_index-carousel {
  .carousel-indicators {

    bottom: -30px;

    li {
      background-color: #CCC;

      &.active {
        background-color: #AAA;
      }
    }
  }
}

.uamx_carousel-inneritem {
  width: 90%;
  margin: 0 auto;
  display: flex;

  .uamx_carousel-inneritem-container {
    width: 30%;
    height: 100%;
    position: relative;
    background-size: cover;
    margin: auto;

    a {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      cursor: pointer;
      display: block;
    }

    h4 {
      font-size: 10px;
      position: absolute;
      background: darkgray;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 5px 10px;
      margin: 0;
      color: white;
    }
  }
}

a.uamx_carousel-control {
  width: 5%;

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
}

.uamx_index-categories-container {

  margin: 0 5%!important;

  .uamx_index-category {
    text-align: center;
    margin: 0 10px;
  
    h5 {
      margin-bottom: 0;
    }
  }
}

.uamx_index-search {

  padding-top: 1em;
  background-color: theme-color("info");

  label {
    text-shadow: none;
    font: inherit;
    color: #ffff;
    margin-bottom: 17px;
  }

  input, .uamx_index-search-append {
    box-shadow: none;
    height: 30px;
  }

  button.uamx_index-search-append {
    background: lightgray;

    &:active, &:hover {
      box-shadow: inset 0 0 20px 0 rgba(0, 3, 0, 0.35);
    }
  }
}

/** footer.html **/

.uamx_footer {

  .uamx_footer-uamlogo img {
    max-width: 100%;
  }

  .small {
    margin-top: 15px;
    color: #999;
    margin-top: 2em;
    margin-bottom: 0;
  }

  .uamx_footer-middle {
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
  }
}

/** navbar-not-authenticated.html **/
.global-header .nav-links.uamx_header-navbar-not-authenticated {

  .main {

    margin-top: 0;
    position: absolute;
    left: 80px;
    
    .nav-item {

      margin: 0;

      a.uamx_header-navbar-not-authenticated--dropdown-selector {
        color: theme-color("primary");
        display: block;
        height: 75px;
        padding: 20px 1em;

        &::after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: .255em;
          vertical-align: .255em;
          content: "";
          border-top: .3em solid;
          border-right: .3em solid transparent;
          border-bottom: 0;
          border-left: .3em solid transparent;

        }
      }

      .uamx_header-navbar-not-authenticated--dropdown-search {
        color: theme-color("primary");
        display: block;
        height: 75px;
        padding: 20px 1em;
      }
      
      @media (max-width: 991px) {
        a.uamx_header-navbar-not-authenticated--dropdown-selector::after {
          display: none;
        }
      }

    }
  }

  .uamx_header-dropdown:hover {
    .uamx_header-dropdownmenu {
      display: block;
    }

    a.uamx_header-navbar-not-authenticated--dropdown-selector,
    .uamx_header-navbar-not-authenticated--dropdown-search {
      background: theme-color("primary");
      color: #fff;
    }
  }
  
  .uamx_header-dropdownmenu {
    position: absolute;
    top: 75px;
    left: 0;
    background: white;
    box-shadow: 0px 1px 1px #646464;
    z-index: 99999;
    min-width: 700px;
    display: none;

    hr {
      height: 1px;
      background: theme-colors("secondary");
    }

    h5 { 
      padding: 1em 1em 0em;
      text-transform: none;
    }

    h6 {
      margin: 0.5rem 0 0 0;
    }
    
    a {
      color: theme-color("primary");

      &:hover {
        color: theme-color("primary");
        font-weight: bold;
      }

    }

    &.uamx_header-dropdownmenu--search {
      button {
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background-image: none;

        &:hover {
          background-image: none;
          box-shadow: inset 0 0 20px 0 rgba(0, 3, 0, 0.35);
        }
      }

      input {
        border-radius: 0;
        border: 0;
        box-shadow: none;
        font: inherit;
        position: relative;
        
        &::after{
          content: '';
          position: absolute;
          left: 42%;
          top: 100%;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #e8e8e8;
          clear: both;
        }
      }
    }

    .uamx_header-dropdownmenu-list {
      padding: 0em 1em 2em 2em;
      font-size: 0.9;
    }
  }

  .uamx_header-dropdown-oferta {
    .uamx_header-dropdownmenu-list p {
      margin-bottom: 0; 

      &.small {
        margin-top: 0;
        margin-bottom: 0.5em;
      }
    }
  }
}

/** index_uamx_header.html ***/

.uamx_index-nav {
  background-color: theme-color("secondary");

  .uamx_search-submit {
    background-color: lightgray;
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: none;
  }

  li.nav-item {
    border-radius: 5px;
    margin: 0 5px;

    &.active {
      background-color: $uamx_green_dark;
      pointer-events: none;
    }

    &:hover {
      background-color: $uamx_green_dark;
    }
  }
}


.uamx-banner_top {
  background-image: url(/static/uamx-theme/images/home_page.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 300px;

  .uamx_banner-top-text {
    padding: 2em 0 0 2em;

    p {
      color: theme-color("primary");
    }
  }
}

/** header/navbar-logo-header.html **/

.global-header {

  border-bottom-width: 4px;
  box-shadow: none;

  .header-logo a {
    @media (max-width: 991px) {
      margin-left: 0;
      height: auto;
      width: auto;
      flex: 0.05 1 auto;
      margin: 0;
      float: none;
  
      .logo {
        margin-left: 0;
        float: none;
      }
    }
  }
}

.uamx-header_logos {
  @media (max-width: 991px) {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.mobile-menu .mobile-nav-link a {
  @media (max-width: 991px) {
    color: theme-color("primary");

    &:hover {
      color: #FFFFFF;
      background-color: theme-color("primary");
    }
  }
}

/** COURSES **/
.courses-container .courses {

  .organization-uam_uamx .course {
    @include course-list-item_uamx($uamx_green);
  }
  
  .organization-mooc_uamx .course {
    @include course-list-item_uamx($uamx_blue);
  }
  
  .organization-fcon_uamx .course {
    @include course-list-item_uamx($uamx_gray);
  }

  .course {

    .course-image {

      .cover-image {
        height: 200px;

        &::before {
          height: 200px;
        }
      }
    }

    .course-info {
  
      padding: 4px 0 6px;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
  
      .course-name {
        margin: 0;
        padding: 0;
  
        .course-title {
          color: #fff;
          font-size: 14px;
          line-height: 1.2rem;
          height: auto;
          margin: 0;
          font-weight: bold;
        }
    
        .course-organization,
        .course-code {
          display: none;
        }
      }
  
      .course-date {
        color: #FFF !important;
        font-size: 13px;
        line-height: 1.2em;
      }
    }
  }
}

/** SEARCH **/

.find-courses {
  background: none;

  .search-facets.phone-menu {
    background-color: #f5f5f5;
  }
}

.courses-list-title_uamx {
  margin-top: 0;
  border-bottom: 2px solid #aaa;
  clear: both;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
