/** index.html ***/

.uamx-home {
  .content-wrapper {
    padding: 0;
    margin: 0;
  }

  .courses-container {
    padding: 0 20px;
  }

  h5.uamx_index-smalltitles {
    margin-left: 5%;
  }

  .courses-container .courses-more {
    text-align: left;
  }
}

.uamx_index-carousel {
  .carousel-indicators {

    bottom: -30px;

    li {
      background-color: #CCC;

      &.active {
        background-color: #AAA;
      }
    }
  }
}

.uamx_carousel-inneritem {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  display: flex;

  article {
    width: 30%;
    height: 100%;
    position: relative;
    background-size: cover;
    margin: auto;

    a {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      cursor: pointer;
      display: block;
    }

    h4 {
      font-size: 10px;
      position: absolute;
      background: darkgray;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 5px 10px;
      margin: 0;
      color: white;
    }
  }
}

a.uamx_carousel-control {
  width: 5%;

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
}

.uamx_index-categories-container {

  margin: 0 5%!important;

  .uamx_index-category {
    text-align: center;
    margin: 0 10px;
  
    h5 {
      margin-bottom: 0;
    }
  }
}

/** footer.html **/

.uamx_footer {

  .uamx_footer-uamlogo img {
    max-width: 100%;
  }

  .small {
    margin-top: 15px;
    color: #999;
    margin-top: 2em;
    margin-bottom: 0;
  }

  .uamx_footer-middle {
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
  }
}

/** navbar-not-authenticated.html **/
.uamx_header-navbar-not-authenticated {
  
  .uamx_header-dropdownmenu {
    position: absolute;
    top: 75px;
    background: white;
    box-shadow: 0px 1px 1px #646464;
    z-index: 99999;

    h6 { 
      padding: 1em 1em 0em;
    }
    
    .row {
      padding: 0em 1em 2em;
    }
  }

  .uamx_header-dropdown-oferta {
    .row p {
      margin-bottom: 0; 

      &.small {
        margin-top: 0;
        margin-bottom: 0.5em;
      }
    }
  }
}

/** index_uamx_header.html ***/

.uamx_index-nav {
  background-color: theme-color("secondary");

  .uamx_search-submit {
    background-color: lightgray;
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: none;
  }

  li.nav-item {
    border-radius: 5px;
    margin: 0 5px;

    &.active {
      background-color: $uamx_green_dark;
      pointer-events: none;
    }

    &:hover {
      background-color: $uamx_green_dark;
    }
  }
}


.uamx-banner_top {
  background-image: url(/static/uamx-theme/images/home_page.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 200px;
}

/** header/navbar-logo-header.html **/

.global-header {

  border-bottom-width: 4px;
  box-shadow: none;

  .header-logo a {
    @media (max-width: 991px) {
      margin-left: 0;
      height: auto;
      width: auto;
      flex: 0.05 1 auto;
      margin: 0;
      float: none;
  
      .logo {
        margin-left: 0;
        float: none;
      }
    }
  }
}

.uamx-header_logos {
  @media (max-width: 991px) {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.mobile-menu .mobile-nav-link a {
  @media (max-width: 991px) {
    color: theme-color("primary");

    &:hover {
      color: #FFFFFF;
      background-color: theme-color("primary");
    }
  }
}


/** SEARCH **/
.courses-container .courses .course .course-info .course-organization {
  padding: 5px 15px !important; 
  color: #FFF !important;
  font-weight: bold;
  font-size: 11px;
}

@mixin course-list-item_uamx ($color) {

  border-bottom-color: $color;

  &:hover {
    border-bottom-color: #bebebe;
  }

  .course-info .course-organization, 
  .course-image .cover-image .learn-more {
    background-color: $color;
    border-color: $color;
  }

  .course-info .course-title {
    color: $color;
  }
}

.courses-container .courses .organization-uam_uamx .course {
  @include course-list-item_uamx ($uamx_green);
}

.courses-container .courses .organization-mooc_uamx .course {
  @include course-list-item_uamx ($uamx_blue);
}

.courses-container .courses .organization-fcon_uamx .course {
  @include course-list-item_uamx ($uamx_gray);
}

.courses-container .courses .course .course-info .course-code {
  display: none;
}

.courses-container .courses .course .course-info .course-date {
  position: absolute;
  bottom: 2px;
}


.find-courses {
  background: none;

  .search-facets.phone-menu {
    background-color: #f5f5f5;
  }
}

.courses-list-title_uamx {
  margin-top: 0;
  border-bottom: 2px solid #aaa;
  clear: both;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
