/** index.html ***/

.uamx-home {
  .content-wrapper {
    padding: 0;
    margin: 0;
  }

  .courses-container {
    padding: 0 20px;
  }

  .highlighted-courses .courses {
    float: none;
    margin-bottom: 20px;
  }

  h5.uamx_index-smalltitles {
   margin-left: 6.5%; 
  }

  .courses-container .courses-more {
    text-align: left;
    margin-left: 6.5%;
    margin-top: 40px;
    font-size: 14px;
    text-decoration: underline;
  }
}

.uamx_index-carousel {
  .carousel-indicators {

    bottom: -30px;

    li {
      background-color: #CCC;

      &.active {
        background-color: #AAA;
      }
    }
  }
}

.uamx_carousel-inneritem {
  width: 90%;
  margin: 0 auto;
  display: flex;

  .uamx_carousel-inneritem-container {
    width: 30%;
    height: 100%;
    position: relative;
    background-size: cover;
    margin: auto;

    a {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      cursor: pointer;
      display: block;
    }

    h4 {
      font-size: 10px;
      position: absolute;
      background: darkgray;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 5px 10px;
      margin: 0;
      color: white;
    }
  }
}

a.uamx_carousel-control {
  width: 5%;

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
}

.uamx_index-categories-container {

  margin: 0 5%!important;

  .uamx_index-category {
    text-align: center;
    margin: 0 10px 10px;
    height: 125px;
    background-size: cover;
    padding: 0;
    border: none;

    &.uamx_index-category--mooc {
      background-image: url(/static/uamx-theme/images/mc.jpg);

      a {
        background-color: rgba($uamx_blue, 0.5);

        &:hover {
          background-color: rgba($uamx_blue, 0.85);
        }
      }
    } 
  
    &.uamx_index-category--uamx {
      background-image: url(/static/uamx-theme/images/id.jpg);

      a {
        background-color: rgba($uamx_green, 0.5);

        &:hover {
          background-color: rgba($uamx_green, 0.85);
        }
      }
    } 
  
    &.uamx_index-category--fcon {
      background-image: url(/static/uamx-theme/images/fc.jpg);

      a {
        background-color: rgba($uamx_gray, 0.5);

        &:hover {
          background-color: rgba($uamx_gray, 0.85);
        }
      }
    }

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
  
    h5 {
      font-size: 1.5em;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

.uamx_index-search {

  padding-top: 1em;
  background-color: theme-color("info");

  label {
    text-shadow: none;
    font: inherit;
    color: #ffff;
    margin-bottom: 17px;
  }

  input, .uamx_index-search-append {
    box-shadow: none;
    height: 30px;
  }

  button.uamx_index-search-append {
    background: lightgray;

    &:active, &:hover {
      box-shadow: inset 0 0 20px 0 rgba(0, 3, 0, 0.35);
    }
  }
}

/** footer.html **/

.uamx_footer {

  .uamx_footer-uamlogo img {
    max-width: 100%;
  }

  .small {
    margin-top: 15px;
    color: #999;
    margin-top: 2em;
    margin-bottom: 0;
  }

  .uamx_footer-middle {
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
  }
}

/** navbar-not-authenticated.html **/
.global-header .nav-links.uamx_header-navbar-not-authenticated {

  .secondary {
    margin-top: 5px !important;
  }

  .main {

    margin-top: 0;
    position: absolute;
    left: 80px;
    
    .nav-item {

      margin: 0;

      a.uamx_header-navbar-not-authenticated--dropdown-selector {
        color: theme-color("secondary");
        display: block;
        height: 69px;
        padding: 20px 1em;

        &::after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: .255em;
          vertical-align: .255em;
          content: "";
          border-top: .3em solid;
          border-right: .3em solid transparent;
          border-bottom: 0;
          border-left: .3em solid transparent;

        }
      }

      .uamx_header-navbar-not-authenticated--dropdown-search {
        color: theme-color("primary");
        display: block;
        height: 75px;
        padding: 20px 1em;
      }
      
      @media (max-width: 991px) {
        a.uamx_header-navbar-not-authenticated--dropdown-selector::after {
          display: none;
        }
      }

    }
  }

  .uamx_header-dropdown:hover {
    .uamx_header-dropdownmenu {
      display: block;
    }

    a.uamx_header-navbar-not-authenticated--dropdown-selector,
    .uamx_header-navbar-not-authenticated--dropdown-search {
      background: theme-color("primary");
      color: #fff;
    }
  }
  
  .uamx_header-dropdownmenu {
    position: absolute;
    top: 69px;
    left: 0;
    background: white;
    box-shadow: 0px 1px 1px #646464;
    z-index: 99999;
    min-width: 700px;
    display: none;

    hr {
      height: 1px;
      background: theme-color("secondary");
    }

    h5 { 
      padding: 1em 1em 0em;
      text-transform: none;
    }

    h6 {
      margin: 0.5rem 0 0 0;
    }
    
    a {
      color: theme-color("primary");

      &:hover {
        color: theme-color("primary");
        font-weight: bold;
      }

    }

    &.uamx_header-dropdownmenu--search {
      button {
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background-image: none;

        &:hover {
          background-image: none;
          box-shadow: inset 0 0 20px 0 rgba(0, 3, 0, 0.35);
        }
      }

      input {
        border-radius: 0;
        border: 0;
        box-shadow: none;
        font: inherit;
        position: relative;
        
        &::after{
          content: '';
          position: absolute;
          left: 42%;
          top: 100%;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #e8e8e8;
          clear: both;
        }
      }
    }

    .uamx_header-dropdownmenu-list {
      padding: 0em 1em 2em 2em;
      font-size: 0.9;
    }
  }

  .uamx_header-dropdown-oferta {
    .uamx_header-dropdownmenu-list p {
      margin-bottom: 0; 

      &.small {
        margin-top: 0;
        margin-bottom: 0.5em;
      }
    }
  }
}

/** index_uamx_header.html ***/

.uamx_index-nav {
  background-color: theme-color("secondary");

  .uamx_search-submit {
    background-color: lightgray;
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: none;
  }

  li.nav-item {
    border-radius: 5px;
    margin: 0 5px;

    &.active {
      background-color: $uamx_green_dark;
      pointer-events: none;
    }

    &:hover {
      background-color: $uamx_green_dark;
    }
  }
}


.uamx-banner_top {
  background-image: url(/static/uamx-theme/images/img-hero.jpg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: white;
  width: 100%;
  min-height: 220px;

  .uamx_banner-top-text {
    padding: 2em 0 0 10%;
    max-width: 500px;

    p {
      color: theme-color("secondary");
    }

    h5 {
      font-size: 2em;
    }
  }
}

/** header/navbar-logo-header.html **/

.global-header {

  border-bottom-width: 4px;
  box-shadow: none;

  .header-logo a {
    @media (max-width: 991px) {
      margin-left: 0;
      height: auto;
      width: auto;
      flex: 0.05 1 auto;
      margin: 0;
      float: none;
  
      .logo {
        margin-left: 0;
        float: none;
      }
    }
  }
}

.uamx-header_logos {
  @media (max-width: 991px) {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.mobile-menu .mobile-nav-link a {
  @media (max-width: 991px) {
    color: theme-color("primary");

    &:hover {
      color: #FFFFFF;
      background-color: theme-color("primary");
    }
  }
}

/** COURSES **/
.courses-container .courses {

  .organization-uam_uamx .course {
    @include course-list-item_uamx($uamx_green);
  }
  
  .organization-mooc_uamx .course {
    @include course-list-item_uamx($uamx_blue);
  }
  
  .organization-fcon_uamx .course {
    @include course-list-item_uamx($uamx_gray);
  }

  .course {

    .course-image {

      .cover-image {
        height: 200px;

        &::before {
          height: 200px;
        }
      }
    }

    .course-info {
  
      padding: 4px 0 6px;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
  
      .course-name {
        margin: 0;
        padding: 0;
  
        .course-title {
          color: #fff;
          font-size: 14px;
          line-height: 1.2rem;
          height: auto;
          margin: 0;
          font-weight: bold;
        }
    
        .course-organization,
        .course-code {
          display: none;
        }
      }
  
      .course-date {
        color: #FFF !important;
        font-size: 13px;
        line-height: 1.2em;
      }
    }
  }
}

/** SEARCH **/

.uamx-search {
  .content-wrapper {
    position: relative;
    margin-top: 0;
    padding: 0 0 10px;
  }

  #main {
    padding: 0 50px;
  }
}

.uamx-search_banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(/static/uamx-theme/images/img-hero-2.jpg);
  background-size: contain;
  height: 200px;

  .uamx-search_banner-title {
    background: rgba(125, 125, 125, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    .uamx-search_banner-tittle-inner {
      padding: 10px 20px;
    }
  }
}

.find-courses {

  background: none;

  #filter-bar {
    display: none;
  }

  .courses-container {
    padding-top: 20px;
  }

  div#discovery-message {
    font-size: 22px;
    float: left;
    font-weight: bold;
    margin: 0;
    width: auto;
  }

  .wrapper-search-input {
    float: right !important;
    margin: 10px 0 0 0;
    width: auto !important;

    .discovery-input {
      border: solid lightgray 1px;
      height: auto;
      padding: 7px 14px;
      border-radius: 11px;
      width: 200px;
      transition: width 0.25s;

      &:focus {
        width: 350px;
      }
    }

    .discovery-submit {
      background: none;
      color: #BBB;
      font-size: 16px;
      font-weight: normal;
      border: none;
      height: 32px;
    }
  }

  .search-facets.phone-menu {
    background-color: #eeeeee;
    float: left;
    margin-top: 20px;
    box-shadow: none;
    padding: 0 15px;

    .header-facet {
      border-top: 2px solid #fff;
      padding: 10px;
      text-transform: capitalize;
    }

    .facet-option {
      color: #888;

      &:hover {
        color: #fff;
      }
    }
  }

  .courses {
    float: right !important;
    margin-right: 0 !important;
    padding-top: 20px;
  }

  .courses-list-title_uamx {
  
    margin-top: 0;
    border-bottom: 4px solid #aaa;
    clear: both;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 20px 5px;
    padding: 0 0 5px 40px;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
  
    &.courses-list-title_uamx-uamx {
      border-color: theme-color("primary");
      background-image: url(/static/uamx-theme/images/recurso-verde.png);
    }
  
    &.courses-list-title_uamx-mooc {
      border-color: theme-color("info");
      background-image: url(/static/uamx-theme/images/recurso.png);
    }
  
    &.courses-list-title_uamx-fcon {
      border-color: theme-color("secondary");
      background-image: url(/static/uamx-theme/images/recurso-gris.png);
    }
  }
}

/** ABOUT **/
.uamx-about {

  .content-wrapper.main-container {
    padding: 0;
    margin: 0;
  }

  .course-profile {
    padding-top: 5em !important;
    position: relative;

    .course-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }

    .intro-inner-wrapper {
      
      background-color: rgba(200,200,200,0.6) !important;
      padding: 1em;

      .intro {
        width: auto !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        .heading-group {
          margin: 0 !important;
          border: 0 !important;
          box-shadow: none !important;

          h1 {
            font-size: 1.5em;
            font-weight: bold !important;
            text-shadow: none !important;
          }
        }

        .main-cta span.register.disabled {
          padding: 0.5em 1em;
        }
   
        .register.disabled {
          width: auto !important;
          padding: 0.5em;
        }
      }
  
      .important-dates {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .important-dates-item {
  
          position: relative;
          font-size: 0.9em;
          width: 48%;
          overflow: hidden;
          margin-top: 4%;
  
          &:nth-child(even) {float:right}
          &:nth-child(odd) {float:left}
  
          .important-dates-item-title {
            font-weight: bold;
            margin: 0;
            margin-left: 35px;
            line-height: 12px;
          }
  
          .important-dates-item-text {
            margin-left: 35px;
            line-height: 12px;
          }
  
          .icon {
            position: absolute;
            top: 5px;
            left: 0;
            font-size: 2em;
          }
        }
      }
    }
  }

  .container {
    max-width: none;
    padding: 0;

    .details {
      width: auto;
      float: none;
      margin: 0;

      .inner-wrapper {

        section {
          padding: 0.5em 4em 0;
          font-size: 0.85em;
          line-height: 2.1em;
          clear: both;

          h2 {
            font-weight: bold;
            font-size: 18px;
            margin: 0em 0 1.5em;
          }

          h3 {
            font-size: 14px;
          }

          p {
            font-size: 14px;
          }

          &.about {
            background: theme-color("primary");
            color: #fff;
            padding-top: 3em;
            padding-bottom: 3em;
          }

          &.course-staff {

            overflow: hidden;

            .teacher {
              background: #e6e6e6;
              float: left;
              max-width: 220px;
              overflow: hidden;
              padding: 10px;
              height: 325px;
              margin-right: 30px;

              .teacher-image {
                width: 200px;
                height: 150px;
                overflow: hidden;
                float: none;

                img {
                  width: 100%;
                  border: none;
                  outline: none;
                }
              }

              h3 {
                font-size: 14px;
                margin: 1em 0;
              }
            }
          }

          &.faq .responses {
            float: none;
            padding: 0;
          }
        }
      }
    }
  }
}
