// UAM official colors
$uamx_blue: #0077c8;
$uamx_green: #4a7729;
$uamx_gray: #75787b;
$uamx_black: #000000;

// UAM custom colors
$uamx_green_dark: #34541c;

// Bootstrap overrided colors https://getbootstrap.com/docs/4.0/getting-started/theming/#modify-map
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
$green: $uamx_green;
$primary: green;

$colors: (
  "blue":  $uamx_blue,
  "green": $uamx_green,
  "gray":  $uamx_gray,
  "black": $uamx_black
);

$theme-colors: (
  "primary":   $uamx_green,
  "secondary": $uamx_gray,
  "success":   $uamx_green,
  "info":      $uamx_blue
);

$link-color: $uamx_blue;
$link-hover: mix($uamx_blue, $uamx_black, 95%);

// ~/edx-platform/lms/static/sass/partials/lms/theme/_variables-v1.scss

$m-blue-l1: mix($uamx_green, #fff, 74%);
$m-blue-l2: mix($uamx_green, #fff, 80%);
$m-blue-l3: mix($uamx_green, #fff, 85%);
$m-blue-l4: mix($uamx_green, #fff, 90%);
$m-blue-l5: mix($uamx_green, #fff, 95%);
$m-blue-l6: mix($uamx_green, #fff, 98%);
$m-blue-d1: mix($uamx_green, $uamx_black, 75%);
$m-blue-d2: mix($uamx_green, $uamx_black, 80%);
$m-blue-d3: mix($uamx_green, $uamx_black, 85%);
$m-blue-d4: mix($uamx_green, $uamx_black, 90%);
$m-blue-d5: mix($uamx_green, $uamx_black, 95%);
$m-blue-d6: mix($uamx_green, $uamx_black, 98%);

$homepage-bg-image: url('../images/edx-theme/home_page.png');

$enable-rounded: false;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
