@import '/edx/app/edxapp/edx-platform/lms/static/certificates/sass/main-ltr';

// UAM official colors
$uamx_blue: #0077c8;
$uamx_green: #4a7729;
$uamx_gray: #75787b;
$uamx_black: #000000;

.uamx_certificate {

  .accomplishment-rendering {

    border: solid 10px $uamx_gray;
    outline: solid 20px $uamx_green;
 
    .accomplishment-type {
      margin-top: 0;
      margin-bottom: 0;
    }

    .accomplishment-statement {
      border-bottom: none;
    }

    .accomplishment-signatories {
      border-bottom: none;
    }

    .accomplishment-type-symbol {
      width: 15rem;
      margin: 0 auto 5rem auto;
    }
  }

  @media print {
    
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 60px;
    right: 20px;

    .wrapper-accomplishment-rendering {
      height: 100%;

      .accomplishment-rendering {
        height: 100%;

        .wrapper-statement-and-signatories {
          border-bottom: none !important;
        }
      }
    }
  }
}

@page {
  size: portrait;
}

.layout-accomplishment .accomplishment-signatories .signatory {

  &.uamx_signatorylength-2 {
    width: 46%;
  }

  &.uamx_signatorylength-3 {
    width: 30%;
  }
}

