## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type

from courses_edx.utils import get_materias_and_facultades_list
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>

<%
list = get_materias_and_facultades_list()

ul_materias = [[]]
ul_facultades = [[]]

for materia in list['materias']:
  ul_materias[-1].append(materia)

  if len(ul_materias[-1]) % 4 == 0:
    ul_materias.append([])
 
for facultad in list['facultades']:
  ul_facultades[-1].append(facultad)

  if len(ul_facultades[-1]) % 4 == 0:
    ul_facultades.append([])
    
%>

<nav class="nav-links uamx_header-navbar-not-authenticated" aria-label=${_("Supplemental Links")}>
  <div class="main">
    <div class="mobile-nav-item hidden-mobile nav-item uamx_header-dropdown">
      <a href="/courses" class="uamx_header-navbar-not-authenticated--dropdown-selector">Materias</a>
    <div class="uamx_header-dropdownmenu hidden-mobile uamx_header-dropdownmenu">
      <h5>Materias</h5>
      <hr/>
      <div class="row uamx_header-dropdownmenu-list">

        %for ul_m in ul_materias:
            <div class="col-sm">
              <ul class="list-unstyled">

            %for li_m in ul_m:
                <li><a href="https://uamx-pre.uam.es/courses?materias=${li_m}">${li_m}</a></li>
            %endfor

              </ul>
            </div>
        %endfor

        </div>
      </div>
    </div>
    <div class="mobile-nav-item hidden-mobile nav-item uamx_header-dropdown">
      <a href="/courses" class="uamx_header-navbar-not-authenticated--dropdown-selector">Oferta Académica</a>
    <div class="uamx_header-dropdownmenu uamx_header-dropdown-oferta hidden-mobile">
      <h5>Oferta Académica</h5>
      <hr/>
      <div class="uamx_header-dropdownmenu-list">
        <div>
          <h6><a href="https://uamx-pre.uam.es/courses?organizacion=uamx">Innovación Docente</a></h6>
          <p class="small">asdpoa jspoja psdoiajspoijoapisj opash pua s  piauhsu hpuih </p>
        </div>
        <div>
          <h6><a href="https://uamx-pre.uam.es/courses?organizacion=mooc">Moocs</a></h6>
          <p class="small">asdpoa jspoja psdoiajspoijoapisj opash pua s  piauhsu hpuih </p>
        </div>
        <div>
          <h6><a href="https://uamx-pre.uam.es/courses?organizacion=fcon">Formación Continua</a></h6>
          <p class="small">asdpoa jspoja psdoiajspoijoapisj opash pua s  piauhsu hpuih </p>
        </div>
      </div>
    </div>
    </div>
    <div class="mobile-nav-item hidden-mobile nav-item uamx_header-dropdown">
      <a href="/courses" class="uamx_header-navbar-not-authenticated--dropdown-selector">Facultades</a>
    <div class="uamx_header-dropdownmenu hidden-mobile">
      <h5>Facultades</h5>
      <hr/>
      <div class="row uamx_header-dropdownmenu-list">

        %for ul_f in ul_facultades:
            <div class="col-sm">
              <ul class="list-unstyled">

            %for li_f in ul_f:
                <li><a href="https://uamx-pre.uam.es/courses?facultades=${li_f}">${li_f}</a></li>
            %endfor

              </ul>
            </div>
        %endfor
      </div>
    </div>
    </div>
    <div class="hidden-mobile nav-item uamx_header-dropdown">
      <label class="uamx_header-navbar-not-authenticated--dropdown-search" for="search_query-header">
        <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"></path>
        </svg>
      </label>
      <div class="uamx_header-dropdownmenu uamx_header-dropdownmenu--search hidden-mobile">
        <form action="/courses" method="get">
          <div class="uamx_header-search">
            <div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="input-group-text uamx_header-search-button">
                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"></path>
                      <path fill-rule="evenodd" d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"></path>
                    </svg>
                  </button>
                </div>
                <input type="text" class="form-control" name="search_query" id="search_query-header" placeholder="Buscar...">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="secondary">
    <div>
      % if allows_login:
        % if restrict_enroll_for_course:
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="register-btn btn" href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Register")}</a>
          </div>
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="sign-in-btn btn" href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}">${_("Sign in")}</a>
          </div>
        % else:
          % if allow_public_account_creation:
            <div class="mobile-nav-item hidden-mobile nav-item">
              <a class="register-btn btn" href="/register${login_query()}">${_("Register")}</a>
            </div>
          % endif
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="sign-in-btn btn" href="/login${login_query()}">${_("Sign in")}</a>
          </div>
        % endif
      % endif
    </div>
  </div>
</nav>
